
/* 大標 */
.title {
  font-size: 2.6em;
  color: #49010F;
  font-weight: bold;
  margin-top: 40px;
}

/* 角色名稱 */
.role-group > .role > .role-name {
  font-size: 1.5em;
  font-weight: bold;
  color: #881600;
  margin-top: 200px;
}

/* submit button */
.submit-btn {
  height: 50px;
  background-color: #C16200;
  color: #49010F;
  font-size: 1.2em;
  font-weight: bold;
  border-color: #49010F;
}

/* textbox */
.form-textarea {
  width: 70%;
  margin-left: 30px;
  border-color: #881600;
  color: #49010F;
  font-size: 1.7em;
  font-weight: bold;
}